// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url <a href="http://imgur.com/wDTfKKx"><img src="http://i.imgur.com/wDTfKKx.png" title="source: imgur.com" /></a>
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
