// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://static.pexels.com/photos/247791/pexels-photo-247791.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
